body {
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(to right, rgb(225, 2, 125) , rgb(95, 47, 255)); */
}

/* INDEX */
.index .nav-home {
    text-decoration: underline solid black;
    font-size: 15px;
}

.index .nav-saved {
    font-size: 15px;
}

.index .logo {
    height: 50px;
}

.index .bc-image {
    background-image: url("../images/verge_wp.jpg");
    /* background-position: right; */
    z-index: -1;
    width: 100%;
}

.index .title h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    font-size: 10vw;
    margin-top: 70px;
}

.index .title h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    margin-bottom: 70px;
    font-size: 3vw;
}

.index .article-main {
    height: 100%;
    background-color: black;
    border: solid 2px black;
    padding: 5px;
    margin-bottom: 3px;
}

.index .image {
    width: 100%;
}

.index .article .headline {
    background-color: black;
    color: white;
}

.index .article-btn {
    width: 100%;
    margin-top: 5%;    
}

.index .link h5:hover {
    color: rgb(229, 15, 101);
}
