body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgb(247, 198,38) , rgb(229, 18, 125));
}

.sidenav {
    background-color: black;
}

.saved .logo {
    height: 50px;
}

.saved .bc-image {
    background-image: url("../images/verge_wp.jpg");
    /* background-position: right; */
    z-index: -1;
    
    width: 100%;
}

.saved .title h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    font-size: 10vw;
    margin-top: 70px;
}

.saved .title h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    margin-bottom: 70px;
    font-size: 3vw;
}

.saved .article-main {
    height: 100%;
    background-color: black;
    border: solid 2px black;
    padding: 5px;
    margin-bottom: 3px;
}

.saved .image {
    width: 100%;
}

.saved .article .headline {
    background-color: black;
    color: white;
}

.saved .saved-true {
    width: 90px;
    margin-top: 13%;    
}

.saved .link h5:hover {
    color: rgb(229, 15, 101);
}

.saved .nav-saved {
    text-decoration: underline solid black;
    font-size: 15px;
}

.saved .nav-home {
    font-size: 15px
}
