body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgb(247, 198,38) , rgb(229, 18, 125));
}

.saved .logo {
    height: 50px;
}

.saved .bc-image {
    background-image: url("../images/verge_wp.jpg");
    /* background-position: right; */
    z-index: -1;
    
    width: 100%;
}

.saved .title h1 {
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    font-size: 10vw;
    margin-top: 70px;
}

.saved .title h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    margin-bottom: 70px;
    font-size: 3vw;
}

.saved .article-main {
    height: 100%;
    background-color: black;
    border: solid 2px black;
    padding: 5px;
    margin-bottom: 3px;
}

.saved .image {
    width: 100%;
}

.saved .article .headline {
    background-color: black;
    color: white;
}

.saved .saved-true {
    width: 90px;
    margin-top: 13%;    
}

.saved .link h5:hover {
    color: rgb(229, 15, 101);
}

.saved .nav-saved {
    text-decoration: underline solid black;
    font-size: 15px;
}

.saved .nav-home {
    font-size: 15px
}



.comment-body {
    margin-bottom: 10px;
}

.comment-headline{
    color: #e91e63;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comments-header h5 {
    font-size: 15px;
}

.comments { 
    color: black;
}

.eachComment h6{
    color: #e91e63;
    font-weight: bold;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 0;
}

.eachComment p{
    margin-top: 5px;
}

.comments hr {
    border-color: #e91e63;
}

.comment-form {
    padding-top:20px;
}


.input-field label {
    color: #e91e63;
}

.input-field input[type=text]:focus + label {
    color: #e91e63 !important;
}

.input-field input[type=text] {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field textarea:focus + label {
    color: #e91e63 !important;
}

.input-field textarea {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.c-submit-div {
    margin-top: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(247, 198,38); 
    border-radius: 10px;
  }