body {
    font-family: 'Oswald', sans-serif;
}

/* INDEX */
.index .nav-home {
    text-decoration: underline solid black;

}

.index .bc-image {
    background-image: url("../images/verge_wp.png");
    z-index: -1;
    height: 400px;
}

.index .title {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    margin: 10px 0 10px 0;
}

.index .article-main {
    height: 100%;
}
.index .article {
    position: relative;
}

.index .article .headline {
    background-color: black;
    color: white;
    position: absolute;
    top: -12px;
    left: 130px;
}

.index .article-btn {
    height: 100%;
}
.index .saved-false {
    background-color: black;
  }
.index .saved-false:visited{
    background-color: black;
  }
.index .saved-false:hover {
    background-color: rgb(170, 54, 54);
  }
.index .saved-false:active{
    background-color: rgb(170, 54, 54);
  }
.index .saved-false:focus{
    background-color: rgb(170, 54, 54);
  }
/* INDEX */


/* SAVED */
.saved .nav-saved {
    text-decoration: underline solid black;
}
/* SAVED */