body {
    font-family: 'Oswald', sans-serif;
}

/* INDEX */
.index .nav-home {
    text-decoration: underline solid black;
    font-size: 20px;
}

.index .nav-saved {
    font-size: 20px;
}

.index .brand-logo {
    font-family: 'Bowlby One SC', cursive;
}

.index .bc-image {
    background-image: url("../images/verge_wp.png");
    /* background-position: right; */
    z-index: -1;
    height: 100%;;
    width: 100%;
}

.index .title h1 {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    /* background-color: black; */
    color: rgb(224, 222, 222);
    font-size: 10vw;
    margin-top: 70px;
}

.index .title h5 {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    /* background-color: black; */
    color: rgb(224, 222, 222);
    margin-bottom: 70px;
    font-size: 3vw;
}

.index .article-main {
    height: 100%;
    border: solid 2px black;
    padding: 5px;
}
.index .article {
    position: relative;
}

.index .article .headline {
    background-color: black;
    color: white;
    position: absolute;
    top: -12px;
    left: 130px;
}

.index .article-btn {
    height: 100%;
}
.index .saved-false {
    background-color: black;
  }
.index .saved-false:visited{
    background-color: black;
  }
.index .saved-false:hover {
    background-color: #dd2c00;
  }
.index .saved-false:active{
    background-color: #dd2c00;
  }
.index .saved-false:focus{
    background-color: #dd2c00;
  }
/* INDEX */


/* SAVED */
.saved .nav-saved {
    text-decoration: underline solid black;
    font-size: 20px;
}

.saved .nav-home {
    font-size: 20px
}
/* SAVED */